.pagination {
  width: 16px;
  height: 20px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Gray/500 */
  border: 0;
  width: 40px;
  height: 40px;
  background-color: inherit;
  color: #667085;
}

.pagination-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.pagination-active {
  background: #eaeaea;
  color: #101010;
  border: 0;
  border-radius: 8px;
}
